@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px rgb(33, 167, 219);
  font-size: 40px;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
}

span {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px rgb(33, 167, 219);
  font-size: 28px;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
}

#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    background-color:rgba(185, 201, 117, 0.4);
    padding-left:3%;
    padding-right:3%;
    padding-top:10px;
    padding-bottom:10px;
    width: 88%;
    float: left;
    left: 3%;
    position: center;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 8px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 13px;
}

.focused{
    color:#30aed6;
    
}

/* Icons ---------------------------------- */




textarea {
    width: 100%;
    height: 240px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 150px;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #43b3fd;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    padding-left:22px;
    padding-right:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
}
    
.ease {
    float:left;
    width: 0px;
    height: 80px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}





#button-red{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 150px;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #f08a5a;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  padding-left:22px;
  padding-right:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-red:hover{
  background-color: rgba(0,0,0,0);
  color: #f08a5a;
}
  
.ease2 {
  float:left;
  width: 0px;
  height: 80px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}



#button-gree{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 150px;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #757a7a;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  padding-left:22px;
  padding-right:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-gree:hover{
  background-color: rgba(0,0,0,0);
  color: #757a7a;
}




#button-green{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 150px;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #43fd6b;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-green:hover{
  background-color: rgba(0,0,0,0);
  color: #43fd6b;
}
    
.ease1 {
  float:left;
  width: 0px;
  height: 80px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}




@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}